// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// @import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides

// Create your own map


// Required
@import "../scss/variables-custom";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/buttons";
// etc